*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
h1{
    background-color: aqua;
    font-size: larger;
    text-align: center;
    width: 50%;
    height: 100vh;


}

p{
    justify-content: center;
}
